body{
    margin: 0px;
    font-family: 'Pangolin', cursive;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    columns: dimgray;
    font-size: medium;
}

.for-image{
    width: 80%;
    padding-top: 10px ;
    padding-bottom: 50px;
}





.orange-highlight{
    color: rgb(243, 66, 234);

}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2;
}
.half-width img{
    width: 100%;
}
.top-banner{

     padding-top: 200px;
     padding-left: 60px;
     text-align: justify;
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
.dream-big{
    padding-top: 1000px;
     padding-right:  300px;
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

section{
    height: 500px;
    padding-bottom: 200px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700px;
}

.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 80%;
}
.experience-alignment{
    text-align: left;
}
#full-time{
    border-left: 10px solid;
    border-image: linear-gradient(180deg, lightsalmon,tomato);
    border-image-slice: 1;
    background-color: white;
}
#web-dev{
    border-left: 10px solid;
    border-image: linear-gradient(180deg, rgb(63, 223, 235),tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 30px;
}